        <footer class="bg-dark text-center mt-3" style="border-radius: 0px 0px 25px 25px; color: silver;">

            <!-- Copyright -->
            <div class="text-center p-3 lh-1" style="border-radius: 0px 0px 25px 25px;">
                <strong>
                    Contáctenos <br>
                    Línea gratuita 018000-00001 <br>
                    Banco entidad financiera - Todos lo derechos reservados.
                </strong>
            </div>
            <!-- Copyright -->
        </footer>
    
    </div> <!-- Div.container initialized in header.php -->
   
   <!-- JavaScript Bundle with Popper -->
    <script src="/Bancoop/libs/bootstrap-5.2.0/js/bootstrap.bundle.min.js"></script>

    </body>
</html>