    <div class="card text-center" style="border-radius: 25px; border: none;">
        <div class="card-header p-3" style="border-radius: 25px 25px 0px 0px; background: silver;">
            <div class="row">
                <div class="col-8 lh-1">
                    <div class="card-text" style="font-family: Arial Black; font-size: 60px; -webkit-text-fill-color: black; -webkit-text-stroke: 3px; -webkit-text-stroke-color: #EAEDED;">
                        BANCOOP
                    </div>
                    <strong class="card-text fs-3">Te ayuda a alcanzar tus metas</strong>
                </div>
                <div class="col-4 justify-content-center  align-items-center">
                    <a href="/Bancoop/index.html">
                        <img class="img-fluid" src="/Bancoop/img/Bancoop.png" alt="" style="max-height: 90px;">
                    </a>
                </div>
            </div>
        </div>
        <div class="bg-dark" style="height: 10px;">
        </div>
        <div class="card-footer p-3" style="border-radius: 0px 0px 25px 25px; background: #FFC300;">
            <nav class="nav nav-pills flex-column flex-sm-row">
                <a class="flex-sm-fill text-sm-center nav-link" href="/Bancoop/views/credits.html"><strong class="fs-5 text-dark">.Créditos.</strong></a>
                <div style="background-color: white; width: 3px;"></div>
                <a class="flex-sm-fill text-sm-center nav-link" href="/Bancoop/views/leasing.html"><strong class="fs-5 text-dark">.Leasing.</strong></a>
                <div style="background-color: white; width: 3px;"></div>
                <a class="flex-sm-fill text-sm-center nav-link" href="/Bancoop/views/savings.html"><strong class="fs-5 text-dark">.Ahorros.</strong></a>
                <div style="background-color: white; width: 3px;"></div>
                <a class="flex-sm-fill text-sm-center nav-link" href="/Bancoop/views/customerService.html"><strong class="fs-5 text-dark">.Servicio al cliente.</strong></a>
            </nav>            
        </div>
    </div>