<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANCOOP | Créditos</title>

    <link rel="icon" href="../img/Bancoop.png">

    <!-- CSS only -->
    <link href="../libs/bootstrap-5.2.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="../js/jquery-3.2.1.min.js"></script>

</head>
<body>

    <div class="container mt-4 mb-4">    
    
        <div class="card text-center" style="border-radius: 25px; border: none;">
            <div class="card-header p-3" style="border-radius: 25px 25px 0px 0px; background: silver;">
                <div class="row">
                    <div class="col-8 lh-1">
                        <div class="card-text" style="font-family: Arial Black; font-size: 60px; -webkit-text-fill-color: black; -webkit-text-stroke: 3px; -webkit-text-stroke-color: #EAEDED;">
                            BANCOOP
                        </div>
                        <strong class="card-text fs-3">Te ayuda a alcanzar tus metas</strong>
                    </div>
                    <div class="col-4 justify-content-center  align-items-center">
                        <a href="../index.html">
                            <img class="img-fluid" src="../img/Bancoop.png" alt="" style="max-height: 90px;">
                        </a>
                    </div>
                </div>
            </div>
            <div class="bg-dark" style="height: 10px;">
            </div>
            <div class="card-footer p-3" style="border-radius: 0px 0px 25px 25px; background: #FFC300;">
                <nav class="nav nav-pills flex-column flex-sm-row">
                    <a class="flex-sm-fill text-sm-center nav-link" href="../views/credits.html"><strong class="fs-5 text-dark">.Créditos.</strong></a>
                    <div style="background-color: white; width: 3px;"></div>
                    <a class="flex-sm-fill text-sm-center nav-link" href="../views/leasing.html"><strong class="fs-5 text-dark">.Leasing.</strong></a>
                    <div style="background-color: white; width: 3px;"></div>
                    <a class="flex-sm-fill text-sm-center nav-link" href="../views/savings.html"><strong class="fs-5 text-dark">.Ahorros.</strong></a>
                    <div style="background-color: white; width: 3px;"></div>
                    <a class="flex-sm-fill text-sm-center nav-link" href="../views/customerService.html"><strong class="fs-5 text-dark">.Servicio al cliente.</strong></a>
                </nav>            
            </div>
        </div>   


    
        <!-- Content of the page -->
        <div class="mt-3">
            
            <div class="card mb-3" style="border-radius: 25px;">
                <div class="row g-0">
                  <div class="col-md-4" style="border-radius: 25px 0px 0px 25px;">
                    <img src="../img/credits/HappyFamily.jpg" class="img-fluid" alt="..." style="border-radius: 25px 0px 0px 25px;">
                  </div>
                  <div class="col-md-8" style="background: linear-gradient(white, silver); border-radius: 0px 25px 25px 0px;">
                    <div class="card-body position-relative top-50 start-0 translate-middle-y">
                      <h5 class="card-title fs-1">Créditos</h5>
                      <p class="card-text fs-5">
                        Es el momento de lograr tus sueños. Opciones ideales para esos proyectos o ideas que 
                        necesitan apoyo financiero
                      </p>
                    </div>
                  </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4 mb-3">
                    <div class="card mb-3 text-center">
                        <img src="../img/credits/PensionerWoman.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <div class="card-body-text">                                
                                <h5>Crédito de libranza Bancoop para pensionados Protección </h5>
                                <p>Si eres pensionado de Protección, puedes acceder a este crédito para invertir en los planes
                                    que habías aplazado. 
                                </p>
                                <a href="#" class="card-link text-bg-light"><b>Cónocer el crédito</b></a>
                            </div>
                        </div>
                      </div>
                </div>
                <div class="col-sm-4 mb-3">
                    <div class="card mb-3 text-center">
                        <img src="../img/credits/PensionerMen.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <div class="card-body-text">                                
                                <h5>Crédito de libranza Bancoop para pensionados FOPEP</h5>
                                <p>Si eres pensionado del Fondo de Pensiones Públicas, puedes acceder a este crédito 
                                    y disfrutarlo en lo que quieras.
                                </p>
                                <a href="#" class="card-link text-bg-light"><b>Cónocer el crédito</b></a>
                            </div>
                        </div>
                      </div>
                </div>
                <div class="col-sm-4 mb-3">
                    <div class="card mb-3 text-center">
                        <img src="../img/credits/YoungeCouple.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <div class="card-body-text">                                
                                <h5>Crediágil Bancoop</h5>
                                <p>Lo solicitas una vez y lo usas cuando quieras: el crédito para 
                                    viajes, compras, emergencias o lo que necesites. <br><br>
                                </p>
                                <a href="#" class="card-link text-bg-light"><b>Cónocer el crédito</b></a>
                            </div>
                        </div>
                      </div>
                </div>
              </div>

            <div class="row">
                <div class="col-sm-4 mb-3">
                    <div class="card mb-3 text-center">
                        <img src="../img/credits/YoungeCoupleDaughter.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <div class="card-body-text">                                
                                <h5>Crédito de libre inversión Bancoop </h5>
                                <p>Para disfrutar de unas merecidas vacaciones, renovar tu hogar, comprar tecnología, 
                                    o para lo que quieras. <br><br>
                                </p>
                                <a href="#" class="card-link text-bg-light"><b>Cónocer el crédito</b></a>
                            </div>
                        </div>
                      </div>
                </div>
                <div class="col-sm-4 mb-3">
                    <div class="card mb-3 text-center">
                        <img src="../img/credits/BeautifulWoman.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <div class="card-body-text">                                
                                <h5>Compra de cartera Bancoop</h5>
                                <p>Mejora tus condiciones financieras consolidando tus deudas con tasas de interés más 
                                    competitivas y plazos amplios. 
                                </p>
                                <a href="#" class="card-link text-bg-light"><b>Cónocer el crédito</b></a>
                            </div>
                        </div>
                      </div>
                </div>
                <div class="col-sm-4 mb-3">
                    <div class="card mb-3 text-center">
                        <img src="../img/credits/Businesswoman.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <div class="card-body-text">                                
                                <h5>Crédito de libranza Bancoop para empleados</h5>
                                <p>Si la empresa en la que trabajas tiene convenio de libranza con Bancoop puedes
                                    acceder a este crédito.
                                </p>
                                <a href="#" class="card-link text-bg-light"><b>Cónocer el crédito</b></a>
                            </div>
                        </div>
                      </div>
                </div>
              </div>

        </div>
        <!-- End content of the page -->


    
        <footer class="bg-dark text-center" style="border-radius: 0px 0px 25px 25px; color: silver;">
            <!-- Copyright -->
            <div class="text-center p-3 lh-1" style="border-radius: 0px 0px 25px 25px;">
                <strong>
                    Contáctenos <br>
                    Línea gratuita 018000-00001 <br>
                    Bancoop entidad financiera - Todos lo derechos reservados.
                </strong>
            </div>
            <!-- Copyright -->
        </footer>
    
    </div> 
    
    <!-- JavaScript Bundle with Popper -->
    <script src="../libs/bootstrap-5.2.0/js/bootstrap.bundle.min.js"></script>
    
    </body>
    </html>
