<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANCOOP | Servicio al cliente</title>

    <link rel="icon" href="/Bancoop/img/Bancoop.png">

    <!-- CSS only -->
    <link href="/Bancoop/libs/bootstrap-5.2.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="/Bancoop/js/jquery-3.2.1.min.js"></script>

</head>
<body>

    <div class="container mt-4 mb-4">
        
    <div class="navbarContent"></div>

    <!-- Content of the page -->
    <div class="mt-3">
        <h1>Customer Service link page</h1>
    </div>
    <!-- End content of the page -->

    <div class="footerContent"></div>

    <script>
        $(document).ready(function () {
        $('.navbarContent').load('../partials/navbar.html');
        $('.footerContent').load('../partials/footer.html');
        });
    </script>

