<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANCOOP | Leasing</title>

    <link rel="icon" href="../img/Bancoop.png">

    <!-- CSS only -->
    <link href="../libs/bootstrap-5.2.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="../js/jquery-3.2.1.min.js"></script>

</head>
<body>

    <div class="container mt-4 mb-4">    
    
        <div class="card text-center" style="border-radius: 25px; border: none;">
            <div class="card-header p-3" style="border-radius: 25px 25px 0px 0px; background: silver;">
                <div class="row">
                    <div class="col-8 lh-1">
                        <div class="card-text" style="font-family: Arial Black; font-size: 60px; -webkit-text-fill-color: black; -webkit-text-stroke: 3px; -webkit-text-stroke-color: #EAEDED;">
                            BANCOOP
                        </div>
                        <strong class="card-text fs-3">Te ayuda a alcanzar tus metas</strong>
                    </div>
                    <div class="col-4 justify-content-center  align-items-center">
                        <a href="../index.html">
                            <img class="img-fluid" src="../img/Bancoop.png" alt="" style="max-height: 90px;">
                        </a>
                    </div>
                </div>
            </div>
            <div class="bg-dark" style="height: 10px;">
            </div>
            <div class="card-footer p-3" style="border-radius: 0px 0px 25px 25px; background: #FFC300;">
                <nav class="nav nav-pills flex-column flex-sm-row">
                    <a class="flex-sm-fill text-sm-center nav-link" href="../views/credits.html"><strong class="fs-5 text-dark">.Créditos.</strong></a>
                    <div style="background-color: white; width: 3px;"></div>
                    <a class="flex-sm-fill text-sm-center nav-link" href="../views/leasing.html"><strong class="fs-5 text-dark">.Leasing.</strong></a>
                    <div style="background-color: white; width: 3px;"></div>
                    <a class="flex-sm-fill text-sm-center nav-link" href="../views/savings.html"><strong class="fs-5 text-dark">.Ahorros.</strong></a>
                    <div style="background-color: white; width: 3px;"></div>
                    <a class="flex-sm-fill text-sm-center nav-link" href="../views/customerService.html"><strong class="fs-5 text-dark">.Servicio al cliente.</strong></a>
                </nav>            
            </div>
        </div>   


    
        <!-- Content of the page -->
        <div class="mt-3">
            
            <div class="card mb-3" style="border-radius: 25px;">
                <div class="row g-0">
                  <div class="col-md-8" style="background: linear-gradient(white, silver); border-radius: 25px 0px 0px 25px;">
                    <div class="card-body position-relative top-50 start-0 translate-middle-y">
                      <h5 class="card-title fs-1">Leasing Bancoop</h5>
                      <p class="card-text fs-5">
                        Acompañamos a nuestros clientes para asumir grandes retos, entregándoles 
                        soluciones sostenibles en acivos a la medida. 
                      </p>
                    </div>
                  </div>
                  <div class="col-md-4" style="border-radius: 0px 25px 25px 0px;">
                    <img src="../img/leasing/OferingLeasing.jpg" class="img-fluid" alt="..." style="border-radius: 0px 25px 25px 0px;">
                  </div>
                </div>
            </div>


            <div class="row">                
                <div class="col-sm-6 mb-3">
                    <div class="card">
                        <img src="../img/leasing/CoupleDriving.jpg" class="card-img-top" alt="...">
                        <div class="m-4">
                            <h5 class="card-title">Personas</h5>
                            <p class="card-text">
                                Encuentra una alternativa diferente para que financies tu próximo carro, casa,
                                maquinaria u otro activo. Con el Leasing pagas un arrendamiento financiero mensual
                                y al final tienes la opción de comprarlo. <br><br>
                            </p>
                        </div>
                    </div>
                </div>                
                <div class="col-sm-6 mb-3">
                    <div class="card">
                        <img src="../img/leasing/SuccesfulBusinesswoman.jpg" class="card-img-top" alt="...">
                        <div class="m-4">
                            <h5 class="card-title">Negocios</h5>
                            <p class="card-text">
                                A través de Leasing financiero Bancoop puedes acceder a los activos que necesitas 
                                para hacer crecer tu negocio, desde los inmuebles para tu sede administrativa o
                                industria, la maquinaria para producir a gran escala, el vehículo para el transporte 
                                de mercancía y pasajeros, hasta los equipos de tecnología, entre otros.  
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">                
                <div class="col-sm-6 mb-3">
                    <div class="card">
                        <img src="../img/leasing/WorkTeam.jpg" class="card-img-top" alt="...">
                        <div class="m-4">
                            <h5 class="card-title">Empresas</h5>
                            <p class="card-text">
                                Con Leasing Bancoop, entendamos sus necesidades y facilitamos el acceso a los 
                                activos productivos que su empresa necesita para asumir grandes restos, por 
                                medio de la financiación o arrendamientos de estos. 
                            </p>
                        </div>
                    </div>
                </div>                
                <div class="col-sm-6 mb-3">
                    <div class="p-5 mb-4 bg-light rounded-3">
                        <div class="container-fluid py-5"><br>
                          Novedades
                          <h1 class="card-title">Proveedores aliados</h1><br>
                          <p class="card-text">
                            Contamos con diferentes aliados para que puedas adquirir en leasing los diferentes 
                            equipos, maquinaria, vehículo, bodegas, entre otros, que necesitas para seguir siendo
                            invencible. Conoce los beneficios y planes que tenemos para tu negocio en las secciones 
                            <b>Vehículos, Maquinaria, Equipos y tecnología.</b>
                          </p><br>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- End content of the page -->


    
        <footer class="bg-dark text-center" style="border-radius: 0px 0px 25px 25px; color: silver;">
            <!-- Copyright -->
            <div class="text-center p-3 lh-1" style="border-radius: 0px 0px 25px 25px;">
                <strong>
                    Contáctenos <br>
                    Línea gratuita 018000-00001 <br>
                    Bancoop entidad financiera - Todos lo derechos reservados.
                </strong>
            </div>
            <!-- Copyright -->
        </footer>
    
    </div> 
    
    <!-- JavaScript Bundle with Popper -->
    <script src="../libs/bootstrap-5.2.0/js/bootstrap.bundle.min.js"></script>
    
    </body>
    </html>
